* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
Primary: #E4EBF5;
Secondary: #D4DAE3;
Tertiary: #000000;

Dark
Primary: #000000;
Secondary: #D0D0D0;
Tertiary: #FFFFFF;

*/
